/* Template styling */

html, body {
  margin: 0;
}

body {
  background: url('../images/dark-linen.png') repeat;
  font-family: 'Roboto', sans-serif;
}

.trending-gifs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1.5em));
  grid-gap: 20px;
  justify-content: center;
}

.grid {
  background-color: rgb(0, 0, 0);
}

div#app {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: 
    'header header header'
    'menu menu menu'
    'container container container'
    'footer footer footer'
  ;
  min-height: 100vh;
}

header {
  grid-area: header;
  height: 200px;
  background: url('../images/GIPHY\ Logo\ 209px.png') repeat;
}

nav {
  grid-area: menu;
  height: 60px;
  background: url('../images//banner-bottom.png');
  font-size: 1.75em;
  line-height: 60px;
  padding: 20px;
  color: white;
  display: flex;
}

nav a {
  color: rgb(95, 191, 255);
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: rgb(198, 115, 247);
}

#container {
  grid-area: container;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
  color: #ccc;
}

.hidden {
  display: none;
}

a.active {
  color: white;
  font-weight: bold;
}

input#search {
  font-size: auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid gray;
  border-radius: 4px;
  height: 28px;
  flex: 1 0;
  margin: auto;
}

span.favorite {
  padding-left: 15px;
  cursor: pointer;
  color: #333; /* Dark gray color */
  font-weight: bold; /* Make the text bold */
  background-color: #bdcaee; /* Light gray background */
  border-radius: 5px; /* Rounded corners */
  padding: 5px 10px; /* Padding on all sides */
}
span.favorite.active {
  color: rgb(255, 0, 149);
}

span.favorite:hover {
  color:rgb(255, 0, 0)
}

/* End template styling */

#about {
  padding: 50px;
}

#about h1 {
  text-align: center; 
  margin-top: -1em ;
}

#about div.content {
  max-width: 500px;
  margin: 50px auto;
  font-size: 1.2em;
  text-align: center;
  font-size: 1.3em;
  padding-top: -1em;
}

#home {
  padding: 50px;
}

#home h1 {
  text-align: center;
  font-size: 40px;
  margin: -0.5em ;
}

#home div.content {
  max-width: 500px;
  margin: 50px auto;
  font-size: 25px;
}

button {
  background-color: #5780f3; /* Green */
  border: none;
  color: rgb(254, 254, 254);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #191ce0; /* Change to green when mouse hovers over it */
}

.upload-input-file{
  background-color: #5780f3; /* Green */
  border: none;
  color: rgb(254, 254, 254);
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 1em 2em;
  cursor: pointer;
  border-radius: 5px;
}