html,
body {
  margin: 0;
}

body {
  background: url('../images/dark-linen.png') repeat;
  font-family: 'Roboto', sans-serif;
}

button {
  transition: transform 0.3s ease-in-out;
}
button:hover  {
  transform: scale(1.1);
}

#content {
  columns: 4;
  column-gap: 16px;
  @media (max-width: 1200px) {
    columns: 3;
  }
  @media (max-width: 992px) {
    columns: 2;};
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
.trending-gifs {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1.5em));
  grid-gap: 20px;
  justify-content: center; */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-auto-flow: column;
  gap: 10px; */
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
  
    
}

.grid {
  background-color: rgb(0, 0, 10);
  gap: 10px;
  /* background-color: rgb(0, 0, 0);
  padding: 10px;
  width: 200px;
  height: 200px; 
  block-size: fit-content; */
  width: 150px;
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 100%;
  border: solid 2px black;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  border-radius: 5px;
}
img { 
  width: 100%; 
  border-radius: 0 0 1rem 1rem;
}
div#app {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'header header header'
    'menu menu menu'
    'container container container'
    'footer footer footer'
  ;
  min-height: 100vh;
}

header {
  grid-area: header;
  height: 200px;
  background: url('../images/GIPHY\ Logo\ 209px.png') repeat;
}

nav {
  grid-area: menu;
  height: 60px;
  background: url('../images//banner-bottom.png');
  font-size: 1.75em;
  line-height: 60px;
  padding: 20px;
  color: white;
  display: flex;
}

nav a {
  color: rgb(95, 191, 255);
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: rgb(198, 115, 247);
}

#container {
  grid-area: container;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
  color: #ccc;
}

.hidden {
  display: none;
}

a.active {
  color: white;
  font-weight: bold;
}

input#search {
  font-size: auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid gray;
  border-radius: 4px;
  height: 28px;
  flex: 1 0;
  margin: auto;
}

span.favorite {
  padding-left: 15px;
  cursor: pointer;
  color: #333;
  font-weight: bold;
  background-color: #bdcaee;
  border-radius: 5px;
  padding: 5px 10px;
}

span.favorite.active {
  color: rgb(255, 0, 149);
}

span.favorite:hover {
  color: rgb(255, 0, 0)
}

#about {
  padding: 50px;
}

#about h1 {
  text-align: center;
  margin-top: -1em;
}

#about div.content {
  max-width: 500px;
  margin: 50px auto;
  font-size: 1.2em;
  text-align: center;
  font-size: 1.3em;
  padding-top: -1em;
}

#home {
  padding: 50px;
}

#home h1 {
  text-align: center;
  font-size: 40px;
  margin: -0.5em;
}

#home div.content {
  max-width: 500px;
  margin: 50px auto;
  font-size: 25px;
}

button {
  background-color: #5780f3;
  border: none;
  color: rgb(254, 254, 254);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #191ce0;
}

.upload-input-file {
  background-color: #5780f3;
  border: none;
  color: rgb(254, 254, 254);
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 1em 2em;
  cursor: pointer;
  border-radius: 5px;
}

.upload-header {
  /* display: flex; */
  /* padding: 10px; */
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.upload-input-file {
  flex: 1;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.upload-btn {
  padding: 10px 10px;
  background-color: #5780f3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.upload-btn:hover {
  background-color: #5780f3;
}

.uploaded-gif{
  border-radius: 8px;
  grid-area: container;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin: 30px;
}